* {
    background-color: palegoldenrod;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1, h3, p {
    text-align: center;
}

.newGameButton {
    margin-left: 45%;
    margin-right: 45%;
}
.heading {
        
    margin-bottom: 20px;

}

.headLeft {
    text-align: left;
    position: fixed;
    left: 10px;
    margin-right: 320px;
}

.headRight {
    /* how do I position this correctly? */
    position: fixed;
    right: 20%;
}

.guessSection {
    display: flex;
}

.first, .second, .third, .fourth, .answerSection {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    padding: 4px;
    width: 17%;
    
}

.submitButton {
    width: 17%;
    align-items: center;
    border: solid;
    background-color:greenyellow;
    border-radius: 0;
    height: 60px;
    padding: 4px;
    justify-content: center;
}

.guess {
    border-radius: 50%;
    border: solid;
    height: 20px;
    width: 20px;
        
}

.answer {
    border-radius: 50%;
    border: solid;
    height: 10px;
    width: 10px;
    align-items: center;
    
}

/* is there a way to make the colour buttons resize with screen? */
button {
    border-radius: 50%;
    border: none;
    height: 15px;
    width: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}

.redButton {
    background: magenta;
}

.blueButton {
    background: lightseagreen;
}

.yellowButton {
    background: yellow;
}

.greenButton {
    background: limegreen;
}

